html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: pe($fs-base);
  line-height: pe($lh-base);
  font-family: $ff-default;
  color: $clr-text;
  @if $h-footer {
    padding-bottom: $h-footer;
  }
}

h1 {
  font-size: $fs-h1;
}

h2 {
  font-size: $fs-h2;
}

h3 {
  font-size: $fs-h3;
}

h4 {
  font-size: $fs-h4;
}

h5 {
  font-size: $fs-h5;
}

h6 {
  font-size: $fs-h6;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  display: block;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
table,
input,
button,
.button,
blockquote {
  margin: $sp-small 0;
}

blockquote {
  color: shade($clr-text, 20%);
  border-left: 4px solid $clr-border-focus;
  padding: .1em 0 .1em $sp-small;
  font-size: em($fs-base + 2);
  font-style: italic;

  p {
    margin: em($sp-base / 2) 0;
  }
}

sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: $clr-text-focus;
  text-decoration: none;
  transition: color .2s ease;
  outline: 0;

  &:active,
  &:focus,
  &:hover {
    color: shade($clr-text-focus, 25%);
  }
}

hr {
  border-bottom: $clr-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

iframe {
  border: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
